PORT=8080
NODE_ENV=development
MONGO_URL=tu_connection_string_de_mongodb_aqui
JWT_SECRET=tu_secreto_super_seguro
JWT_EXPIRES_IN=1h

# Nodemailer
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=tu_email@ejemplo.com
MAIL_PASS=tu_password_o_app_password
MAIL_FROM="Plataforma de Eventos" <tu_email@ejemplo.com>